* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}